USE [CakeShop]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/28/2020 10:52:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 7/28/2020 10:52:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](255) NOT NULL,
	[image_url] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[city]    Script Date: 7/28/2020 10:52:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[city](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[country_id] [int] NULL,
	[city_name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_dbo.city] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[colors]    Script Date: 7/28/2020 10:52:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[colors](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[color_name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_dbo.colors] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[country]    Script Date: 7/28/2020 10:52:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[country](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[country_name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_dbo.country] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[district]    Script Date: 7/28/2020 10:52:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[district](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[country_id] [int] NULL,
	[city_id] [int] NULL,
	[district_name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_dbo.district] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 7/28/2020 10:52:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_name] [nvarchar](255) NOT NULL,
	[phone_number] [nvarchar](255) NULL,
	[address_shipping] [nvarchar](255) NULL,
	[note] [nvarchar](max) NULL,
	[country_id] [int] NULL,
	[city_id] [int] NULL,
	[district_id] [int] NULL,
	[ward_id] [int] NULL,
 CONSTRAINT [PK_dbo.orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders_item]    Script Date: 7/28/2020 10:52:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders_item](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [bigint] NOT NULL,
	[book_id] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [money] NOT NULL,
 CONSTRAINT [PK_dbo.orders_item] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 7/28/2020 10:52:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_name] [nvarchar](50) NULL,
	[category] [int] NULL,
	[price] [money] NULL,
	[image_url] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[isPopular] [bit] NOT NULL,
	[origin_price] [money] NULL,
	[size_id] [int] NULL,
	[color_id] [int] NULL,
 CONSTRAINT [PK_dbo.products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sizes]    Script Date: 7/28/2020 10:52:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sizes](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[size_name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_dbo.sizes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 7/28/2020 10:52:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_name] [varchar](30) NULL,
	[password] [varchar](50) NULL,
	[user_role] [int] NULL,
 CONSTRAINT [PK_dbo.users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ward]    Script Date: 7/28/2020 10:52:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ward](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[country_id] [int] NULL,
	[city_id] [int] NULL,
	[district_id] [int] NULL,
	[ward_name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_dbo.ward] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [category_name], [image_url]) VALUES (1, N'Bánh mì', NULL)
INSERT [dbo].[category] ([id], [category_name], [image_url]) VALUES (2, N'Bánh nướng', NULL)
INSERT [dbo].[category] ([id], [category_name], [image_url]) VALUES (3, N'Bánh kem', NULL)
SET IDENTITY_INSERT [dbo].[category] OFF
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [customer_name], [phone_number], [address_shipping], [note], [country_id], [city_id], [district_id], [ward_id]) VALUES (1, N'1', N'1', N'1', N'1', NULL, NULL, NULL, NULL)
INSERT [dbo].[orders] ([id], [customer_name], [phone_number], [address_shipping], [note], [country_id], [city_id], [district_id], [ward_id]) VALUES (2, N'A', N'123', N'123', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[orders] ([id], [customer_name], [phone_number], [address_shipping], [note], [country_id], [city_id], [district_id], [ward_id]) VALUES (3, N'A', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[orders] OFF
SET IDENTITY_INSERT [dbo].[orders_item] ON 

INSERT [dbo].[orders_item] ([id], [order_id], [book_id], [quantity], [price]) VALUES (1, 1, 2, 1, 20000.0000)
INSERT [dbo].[orders_item] ([id], [order_id], [book_id], [quantity], [price]) VALUES (2, 2, 10003, 1, 350000.0000)
INSERT [dbo].[orders_item] ([id], [order_id], [book_id], [quantity], [price]) VALUES (3, 3, 10003, 1, 350000.0000)
SET IDENTITY_INSERT [dbo].[orders_item] OFF
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [product_name], [category], [price], [image_url], [description], [isPopular], [origin_price], [size_id], [color_id]) VALUES (3, N'test 1', 1, 10000.0000, N'https://media-cdn.tripadvisor.com/media/photo-s/14/d4/96/29/strawberry-fuss.jpg', NULL, 0, 10000.0000, NULL, NULL)
INSERT [dbo].[products] ([id], [product_name], [category], [price], [image_url], [description], [isPopular], [origin_price], [size_id], [color_id]) VALUES (4, N'test 2', 1, 45000.0000, N'https://media-cdn.tripadvisor.com/media/photo-s/14/d4/68/3b/donuts-with-injection.jpg', NULL, 0, 50000.0000, NULL, NULL)
INSERT [dbo].[products] ([id], [product_name], [category], [price], [image_url], [description], [isPopular], [origin_price], [size_id], [color_id]) VALUES (5, N'test 3', 1, NULL, N'https://media-cdn.tripadvisor.com/media/photo-s/14/d4/94/27/love-for-redvelvet-freakshake.jpg', NULL, 1, 12000.0000, NULL, NULL)
SET IDENTITY_INSERT [dbo].[products] OFF
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [user_name], [password], [user_role]) VALUES (1, N'admin', N'admin', 1)
SET IDENTITY_INSERT [dbo].[users] OFF
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [isPopular]
GO
