@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@section styles {
    <link href="~/Content/cakeshop/CSS/[CH Bánh]-[Homepage].css" rel="stylesheet" />
}
<!--Welcome-->
<div id="carousel-welcome" class="carousel slide carousel-fade" data-ride="carousel">

    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#carousel-welcome" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-welcome" data-slide-to="1"></li>
        <li data-target="#carousel-welcome" data-slide-to="2"></li>
    </ol>

    <!--Slides-->
    <div class="carousel-inner welcome" role="listbox">
        <div class="carousel-item active">
            <div class="view">
                <img class="welcome-img" src="~/Content/cakeshop/Images/homepage/slider-2.jpg" />
            </div>
            <div class="carousel-caption">
                <h3>Welcome to Cakes with Love!</h3>
            </div>
        </div>
        <div class="carousel-item">
            <div class="view">
                <img class="welcome-img" src="~/Content/cakeshop/Images/homepage/slider-3.jpg" />
            </div>
            <div class="carousel-caption">
                <h3>Welcome to Cakes with Love!</h3>
            </div>
        </div>
        <div class="carousel-item">
            <div class="view">
                <img class="welcome-img" src="~/Content/cakeshop/Images/homepage/slider-4.jpg" />
            </div>
            <div class="carousel-caption">
                <h3>Welcome to Cakes with Love!</h3>
            </div>
        </div>
    </div>

    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-welcome" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" style="color: #FF9E9E"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-welcome" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true" style="color: #FF9E9E"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!--EndWelcome-->
<!--Best-seller-->
<div id="multi-item-best-seller" class="carousel slide carousel-multi-item" data-ride="carousel">
    <h5 style="color: #FF9E9E">Best-sellers</h5>

    <!--Controls-->
    <div class="controls-top">
        <a class="btn-floating" href="#multi-item-best-seller" data-slide="prev"><i class="fas fa-chevron-left" style="color: #FF9E9E"></i></a>
        <a class="btn-floating" href="#multi-item-best-seller" data-slide="next"><i class="fas fa-chevron-right" style="color: #FF9E9E"></i></a>
    </div>

    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#multi-item-best-seller" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-best-seller" data-slide-to="1"></li>
        <li data-target="#multi-item-best-seller" data-slide-to="2"></li>
    </ol>

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        <!--First slide-->
        <div class="carousel-item active">
            <div class="card-group best-seller">
                @foreach (var item in ViewBag.productSales)
                {
                    <div class="card slide">
                        <img class="card-img-top" src="@item.image_url">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-1 text-muted">@item.product_name</h6>
                            <p class="card-text">@string.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:C0}", item.origin_price)</p>
                            <a href="@Url.Action("Buy", "Cart", new { id = item.id })?quantity=1" class="btn btn-primary-slide">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                }
            </div>
        </div>
  
    </div>
</div>
<!--EndBest-seller-->