@model ShopManagement.Models.user
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@section styles {
    <link href="~/Content/cakeshop/CSS/[CH Bánh]-[Log in].css" rel="stylesheet" />
}
<!--Banner-->
<div id="carousel-banner" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner banner" role="listbox">
        <div class="carousel-item active">
            <div class="view">
                <img class="banner-img" src="~/Content/cakeshop/Images/banner-bg.jpg" />
            </div>
            <div class="carousel-caption">
                <h2><strong>ĐĂNG NHẬP</strong></h2>
                <p class="banner-link">
                    <a href="@Url.Action("Index", "Homepage")" style="color: white">Trang chủ &ensp;</a>
                    <a href="#"><i class="fas fa-chevron-right" style="color: white"></i></a>
                    <a href="@Url.Action("Login", "Homepage")" style="color: white">&ensp; Đăng nhập</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!--EndBanner-->
<!--LogIn-->
<div id="form-log-in" class="log-in">
    <div class="card phone-number" style="border-style: none">
        <div class="card-body">
            <h6 class="card-subtitle">Số điện thoại:<input class="form-control text-center" value="" type="tel"></h6>
        </div>
    </div>
    <div class="card password" style="border-style: none">
        <div class="card-body">
            <h6 class="card-subtitle">Mật khẩu:<input class="form-control text-center" value="" type="password"></h6>
        </div>
    </div>
    <div class="card btn-log-in" style="border-style: none">
        <div class="card-body">
            <a href="@Url.Action("Login", "Homepage")" class="btn btn-login" style="color: white"><strong>Đăng nhập</strong></a>
        </div>
    </div>
    <div class="card btn-cmd" style="border-style: none">
        <div class="card-body">
            <a href="#" class="fpass" style="color: black">Quên mật khẩu</a>
            <br />
            <a href="@Url.Action("Register", "Homepage")" class="sign-in" style="color: black"><strong>Đăng ký</strong></a>
        </div>
    </div>
</div>
<!--EndLogIn-->